---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---


<Layout title="得丸創生">
	<div class="lang">
		<iframe class="w-full h-screen"src="https://miro.com/app/live-embed/uXjVP53Yovc=/?embedMode=view_only_without_ui&autoplay=true&moveToViewport=-682,-2264,678,436" frameBorder="0" scrolling="no" allowFullScreen></iframe>
	</div>
</Layout>