---
import Layout from '../../layouts/Layout.astro';
import ScrollUp from '../../components/scroll-up.astro';
import Socials from '../../components/socials.astro';
---



<Layout title="得丸創生">
	<div class="lang w-full min-h-screen bg-emerald-50 dark:bg-sky-950">
		<div class="container mx-auto md:pt-56 p-16 pt-56">
		<!--プロフィール -->
		<p class="text-base object-center font-bold dark:text-white">得丸創生</p>
		<h1 class="text-5xl object-center font-bold dark:text-white">So Tokumaru</h1>
		<p class="text-xl my-4 dark:text-white">
			
			
			High School Student, From Tokyo, Learning in Malaysia, Working in the educational and digital fields, Love Minecraft
		</p>
		<!--役職欄 -->
		<div class="flex flex-wrap place-content-start flex-col">

			<p class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-green-500 p-3 rounded-xl mb-4 mr-3">Team Outstndrs - Leader
				<a href="https://www.outstndrs.com" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300 hover:underline">
				See More
				<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
				</a><br><a class="text-sm font-light">Digital-Creator Group by U18 Students</a></p>
			<p class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-sky-500 p-3 rounded-xl mb-4 mr-3">IDEACTIVE JAPAN PROJECT - Ambassador
				<a href="https://www.ideactive.jp/" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300 hover:underline">
				See More
				<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
				</a><br><a class="text-sm font-light">Create business to change the world - Business contest</a></p>
			
			
			<p class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-orange-500 p-3 rounded-xl mb-4 mr-3">Classmall Kids - Tutor 
				<a href="https://kids.classmall.jp/" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300 hover:underline">
				See More
				<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
				</a><br><a class="text-sm font-light">Programming for Kids!</a></p>
		</div>
		

		<Socials />
		<!--下に誘導する矢印 -->
		
			<div class="flex justify-center content-end mt-36">
				<svg class="h-14 w-14 fill-slate-700 dark:fill-slate-400"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
			</div>
			<p class="flex justify-center mt-4 text-lg font-bold text-slate-700 dark:text-slate-400">See More on&nbsp;<a class="underline decoration-yellow-400 decoration-4">Miro</a></p>
		</div>
		
	</div>
	<div class="lang">
		<!--Miroのボード埋め込み -->
		<iframe class="w-full h-screen" src="https://miro.com/app/live-embed/uXjVMV_j7K8=?embedMode=view_only_without_ui&autoplay=false&moveToViewport=-768,-2403,775,769" frameBorder="0" scrolling="no" allowFullScreen></iframe>
	</div>
	<ScrollUp />
</Layout>