---
import Layout from '../../layouts/Layout.astro';
import ScrollUp from '../../components/scroll-up.astro';
import Socials from '../../components/socials.astro';
import { SEO } from "astro-seo";

---
<Layout title="So Tokumaru">
	<div slot="header_custom">
		
		<SEO
      title="So Tokumaru"
      description="hight school student called 'So'(that's my super-short name) who working based on internet. In real world, I am from Tokyo and living in Selangor, Malaysia. Love Minecraft, Design, Team-building."
      openGraph={{
        basic: {
          title: "So Tokumaru",
          type: "A type.",
          image: "/intro.webp",
        }
      }}
      twitter={{
        creator: "@So_to9"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/intro.webp",
          },
          { name: "twitter:title", content: "So Tokumaru" },
          { name: "twitter:description", content: "high school student called 'So'(that's my super-short name) who working based on internet. In real world, I am from Tokyo and living in Selangor, Malaysia. Love Minecraft, Design, Team-building." },
        ],
      }}
    />
	<div class="">
		<div class="lang w-full min-h-screen ">
			<div class="container mx-auto md:pt-56 p-16 pt-56">
			<!--プロフィール -->
			<p class="text-base object-center font-bold dark:text-white">得丸創生</p>
			<h1 class="text-5xl object-center font-bold dark:text-white">So Tokumaru</h1>
			<p class="text-xl my-4 dark:text-white">
				High School Student From Tokyo in Malaysia, Working in the educational and digital fields, Love Minecraft
			</p>
			<!--役職欄 -->
			<div class="flex flex-wrap place-content-start flex-col">
				<a href="https://outstndrs.com/" class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-green-500 p-3 rounded-xl mb-4 mr-3 transition ease-in-out shadow-lg hover:shadow-green-800/50 dark:hover:shadow-green-200/50">
					Team Outstndrs - Leader
						<span class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300">
							See More
							<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
						</span><br>
						<span class="text-sm font-light">Digital-Creator Group by U18 Students</span>
				</a>
	
				<a href="https://ideactive.jp/" class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-sky-500 p-3 rounded-xl mb-4 mr-3 transition ease-in-out shadow-lg hover:shadow-green-800/50 dark:hover:shadow-green-200/50">
					IDEACTIVE JAPAN PROJECT - Student Ambassador
					<span class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300">
						See More
						<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</span><br>
					<span class="text-sm font-light">Create business to change the world - Business contest</span>
				</a>
	
				<a href="https://kids.classmall.jp/" class="text-black dark:text-white font-bold bg-slate-300 dark:bg-slate-700 outline outline-1 outline-orange-500 p-3 rounded-xl mb-4 mr-3 transition ease-in-out shadow-lg hover:shadow-green-800/50 dark:hover:shadow-green-200/50">
					Classmall Kids - Tutor
					<span class="inline-flex items-center font-medium text-blue-600 dark:text-blue-300">
						See More
						<svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</span><br>
					<span class="text-sm font-light">Programming for Kids!</span>
				</a>
			</div>
			
			<div class="fixed inset-0 overflow-hidden z-[-1]">
				<video
				  poster="/intro.webp"
				  class="absolute z-[-1] min-h-screen min-w-full object-cover"
				  webkit-playsinline
				  playsinline
				  muted
				  autoplay
				  loop
				>
				  <source src="/intro.mp4" type="video/mp4" />
				</video>
			  </div> 
			<Socials />

</Layout>