---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="About this site">
still nothing :)
</Layout>


<span class="flex w-3 h-3 bg-green-500 rounded-full"></span>
