---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Error-404">
    <div class="flex h-screen flex-col justify-center items-center text-center">
        <img src="/pingu-tongue.gif" />
         <h1 class="text-5xl md:text-7xl font-bold my-7 dark:text-white text-black">404 Not Found</h1>
    </div>
</Layout>