<div class="max-w-sm m-3 p-7 bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h6 class="dark:fill-white fill-black">
	<slot name="icon"/>
	</h6>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-gray-100">
		<slot name="header"/>
		</h5>
    </a>
    <h6 class="mb-3 font-normal text-gray-500 dark:text-gray-300">
		<slot name="sentence"/>
	</h6>
    	<slot name="weblink"/>
</div>
