---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!--メニューボタンのアニメーション-->
<style>
  
  .logos {
  display: none;
  text-align: center;
}

.logos.appear {
  display: block;
  animation: 2s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
<script>
  const messages = document.querySelectorAll('.logos');
let i = 1;

function messageAppear() {
  if (i > 2) {
    i = 0;
  }

  messages.forEach(logos => {
    logos.classList.remove('appear');    
  });

  messages[i].classList.add('appear');
  i++;
}

setInterval(messageAppear, 4500);
</script>


<nav class="fixed bg-white/30 border-gray-200 dark:bg-gray-900/60 backdrop-blur-md">
    <div class="w-screen flex flex-wrap items-center justify-between mx-auto p-4">
    <a href={`/${lang}/`} class="flex items-center">
        <img src="/soumame.svg" class="h-12 mr-1" alt="Soumame" />
        <span class="self-center text-xl font-semibold whitespace-nowrap mx-2 dark:text-white">
          {t('nav.soto')}
        </span>
    </a>
    <div class="flex md:order-2">



        
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-black dark:text-white bg-blue-300 dark:bg-blue-200 hover:bg-blue-200 dark:hover:bg-blue-100 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button">
          <img src="/Globe_icon.svg" class="w-6 h-6" alt="language" />
          <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <LanguagePicker />
        </div>









        <button data-collapse-toggle="navbar-cta" type="button" class="bg-gray-200 dark:bg-gray-700 p-3 inline-flex items-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-green-200 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-green-100 dark:focus:ring-gray-600 mx-2" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--ロゴ切り替え -->
          <svg class="w-6 h-6 logos appear" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <img src="/twitter.svg" class="w-6 h-6 logos" />
          <img src="/discord.svg" class="w-6 h-6 logos" />
          
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col font-medium p-3 md:p-3 mt-4 border border-gray-100 rounded-lg bg-slate-200/70 md:flex-row md:space-x-4 md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800/70 dark:border-gray-700">
          <li>
            <a href="https://twitter.com/so_to9" class="block md:my-2 py-3 pl-1 md:p-3 text-black text-xl md:text-lg md:text-white md:bg-sky-500 rounded-lg hover:bg-sky-200 md:hover:bg-slate-700 md:hover:text-sky-400 md:dark:hover:text-sky-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              {t('nav.Twitter')}
              
            </a>
          </li>
          <li>
            <a href="https://discord.gg/kczgGEKJg2" class="block md:my-2 py-3 pl-1 pr-4 md:p-3 text-black text-xl md:text-lg md:text-white md:bg-violet-500 rounded-lg hover:bg-violet-200 md:hover:bg-slate-700 md:hover:text-violet-400 md:dark:hover:text-violet-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                {t('nav.Discord')}
            </a>
          </li>
          <li>
            <a href="https://outstndrs.com" class="block md:my-2 py-3 pl-1 pr-4 md:p-3 text-black text-xl md:text-lg md:text-white rounded-lg md:bg-cyan-800 hover:bg-cyan-200 md:hover:bg-slate-700 md:hover:text-cyan-400 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            {t('nav.Outstndrs')}
            </a>
          </li>
          <li>
            <a href={`/${lang}/services`} class="block md:my-2 py-3 pl-1 pr-4 md:p-3 text-black text-xl md:text-lg md:text-white md:bg-slate-800 rounded-lg hover:bg-slate-200 md:hover:bg-slate-700 md:hover:text-slate-400 md:dark:hover:text-slate-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            {t('nav.services')}
          </a>
          </li>
      </ul>
    </div>
    </div>
</nav>
